body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #262626, #1a1a1a);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff; /* Set text color to white */
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #333; /* Darker input background */
    color: #fff; /* Set text color to white */
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#arrivalTime {
    font-size: 1.2rem;
    margin-top: 15px;
}